*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    background: #58555A;
    color: #FBF37C;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border: none;
    border-radius: 5px;
}

fieldset {
    border: 0;
}

form {
    background: #000000;
    width: 30em;
    border-radius: 1em;
    padding: 1em;
    padding-left: 2.1em;
}

.field {
    margin-bottom: 1em;
}

.field label {
    margin-bottom: 0.2em;
    color: #FBF37C;
}

fieldset.grupo .campo {
    float:left;
}

#title{
    font-family: 'Bebas Neue', sans-serif;
    color: #FBF37C;
    text-align: center;
    margin-left: -57%;
}

#subtitle {
    margin-left: 14.2%;
}

.field input[type="text"], .field input[type="email"], .field input[type="date"], .field select, .about-box textarea {
    padding: 0.2em;
    border: 2.9px solid #A68F1F;
    display: block;
    width: 30em;
}

.end {
    padding: 0.2em;
}

.end label {
    padding: 0.1em;
}

.field select option{
    padding-right: 0.7em;
}


.field input:focus, .field select:focus, .about-box textarea:focus {
    background: #fffbc9;
    transition: 0.4s;
}

.bt {
    font-size: 1.3em;
    width: 4em;
    background: #fffbc9;
    border: 0;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: 'Bebas Neue';
    margin-left: 9em;
    text-shadow: 1px 1px 1px #fffbc9;
}

.bt:hover {
    transition: 0.8s;
    background: #FEA443;
    transform: scale(1.2);
}

.bt:active {
    transition: 0.6s;
    transform: scale(0.9);

}

